.bannerSkills{
    background-color: #6D9886;
    background-size: 100%;
    box-sizing: border-box;
    height: 800px;
    border-bottom: 10px  solid #F2E7D5;
    padding-top: 50px;
    padding-bottom: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.divTotalSkils{
    display: flex;
}
.divIcon{
    display: flex;
    margin-bottom: 40px;
}

.main-subtitle{
    margin-bottom: 20px;
}
