.bannerProjetos{
    background-color: #393E46;
    border-bottom: 10px  solid #6D9886;
    height: 520px;
    padding-top: 50px;
    padding-bottom: 100px;
}
.divTotalProjeto{
    display: flex;
    justify-content: space-around;
}
.bannerProjetos .cardProjeto{
    background-color: #F2E7D5;
    width: 250px;
    height: 250px;
    box-shadow: 10px 10px 0 #FFF;
    padding: 10px 10px;
}
