.subtitulo{
    font-family: 'Press Start 2P',sans-serif;
    color: #393E46;
    font-size: 30px;
    text-shadow: 4px 4px 5px #6D9886;

}
.subtituloSkills{
    font-family: 'Press Start 2P',sans-serif;
    color: #FFF;
    font-size: 25px;
}
